<h3>Edit Your Closet Item</h3>

<form method="post" action="/items/<%=@item.id%>">
<input type="hidden" name="_method" value="patch">	

	<label>Clothing Type:</label>
  <input type="text" name="item[clothing_type]" id="clothing_type" value="<%=@item.clothing_type%>">
  
  <label>Brand:</label>
  <input type="text" name="item[brand]" id="brand" value="<%=@item.brand%>">
  
  <label>Size:</label>
  <input type="text" name="item[size]" id="size" value="<%=@item.size%>">
  
  <input type="submit" value="Submit">
</form>
