<h3>Welcome, <%= @user.username %></h3>
<br>
<h4>Here is your current closet!</h4>
<ul>
<% @items.each do |item| %>
  <li>Type: <%= item.clothing_type %>. Brand: <%= item.brand %>. Size: <%= item.size %>. </li>
<% end %>
<p>Click <a href='/items/new'>here<a/> to add another item to your closet.</p>

</ul>