<h3>Welcome, <%= @user.username %></h3>
<br>
<h4>Here is your current closet!</h4>
<ul>
<% @items.each do |item| %>
  <li><%= item.clothing_type %></li>
  <li><%= item.brand %></li>
  <li><%= item.size %></li>
<% end %>
</ul>