<h2>Hey <%= @user.username%>!</h2>
<br>


<h4> Add a new item to your closet!</h4>
<p>Please fill out ALL fields.</p>



<form method="post" action="/items">
  <label>What type of clothing is it?</label>
  <input type="text" name="item[clothing_type]" id="clothing_type">
  
  <label>What brand is it?</label>
  <input type="text" name="item[brand]" id="brand">
  
  <label>What size is it?</label>
  <input type="text" name="item[size]" id="size">

  <input type="submit" value="submit">
  
</form>


 <% if !@errors.empty? %>
  <% @errors.each do |message| %>
    <font color="red"><h6><%= message %></h6><font>
  <% end %>
 <% end %>
