<h3>Item Show Page</h3>
<p><strong>Type:</strong> <%=@item.clothing_type%></p>
<p><strong>Brand:</strong> <%=@item.brand%></p>
<p><strong>Size:</strong> <%=@item.size%></p>
<form action="/items/<%= @item.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete"/>
  <input type="submit" value="Delete Item" />
</form>	
<br>
<br>
<p>Click <a href='/items'>here</a> to view your closet.</p>

