<h3>Item Show Page</h3>
<p><strong><font color="black">Type:</font></strong> <%=@item.clothing_type%></p>
<p><strong><font color="black">Brand:</font></strong> <%=@item.brand%></p>
<p><strong><font color="black">Size:</font></strong> <%=@item.size%></p>

<form action="/items/<%= @item.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete"/>
  <button type="submit" id="delete" value="Delete Item" class="btn btn-primary">Delete</button>
</form>	
<br>
<br>
<p>Click <a href='/items'>here</a> to view your closet.</p>

