<!DOCTYPE html>
<!-- If IE use the latest rendering engine -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
 
<!-- Set the page to the width of the device and set the zoon level -->
<meta name="viewport" content="width = device-width, initial-scale = 1">
<title>Online Closet</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
 
<style>
.jumbotron{
    background-color:#4285F4;
    color:white;
}
/* Adds borders for tabs */
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.nav-tabs {
    margin-bottom: 0;
}
</style>
 
</head>
<body>

<div class="container">
 
  <div class="page-header">
  <h1><strong>Online Closet</strong></h1>
  </div>

  <div class="jumbotron">

  <%= yield %>

  </div>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
 
<!-- Use downloaded version of Bootstrap -->
<script src="js/bootstrap.min.js"></script>

</body>

<footer class="branding">
  <font color="black">&copy; 2020 <strong>ClosetApp</strong></font>
  
  <div class="btn-group btn-group-lg" role="group" color="blue"aria-label="...">
  <a href="/logout" class = "btn btn-link btn-lg" role="button">Log Out</a> 
  <a href="/items" class = "btn btn-link btn-lg" role="button">My Closet</a> 
  </div>
</footer>

</html>
