<h1>Welcome to the Online Closet!</h1>
<br>
<h4>Help keep track of the clothes in your closet by adding them to your online closet!</h4>
<br>
<p> Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue. 
