<center><h1>Welcome to the Online Closet!</h1>
<img src="/images/closet_pic.jpg" alt="Closet App" />
<h4>Help keep track of everything in your closet by adding them to your online closet!</h4>
<h3> Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue.</h3> </center>
